@model AjaFood.Models.Food

@{
    ViewData["Title"] = "Delete";
}

<div class="container p-3">
    @*padding top = 4*@
    <div class="row pt-4">
        <div class="col-6">
            <h1>Smazání receptu</h1>
        </div>

        <h3>Opravdu chcete smazat tento recept?</h3>
    </div>
</div>

<div class="text-center">
    <hr />
    <dl class="row text-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodCategory.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proteins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proteins)
        </dd>
    </dl>
    <div class="text-center">
        <form asp-action="Delete">
            <button class="btn btn-primary" style="width:150px" asp-controller="Food" asp-action="Index">Zpět</button>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Smazat" style="width:150px" class="btn btn-danger" />
        </form>
    </div>
</div>
