@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

@*<h1>@ViewData["Title"]</h1>*@

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <section>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <br />
            <h2>Vytvoření nového účtu.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-floating mb-3">
                <input asp-for="Input.Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label asp-for="Input.Email" for="floatingInput">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-floating mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" id="floatingInput" autocomplete="new-password" aria-required="true" placeholder="Password"/>
                <label asp-for="Input.Password" for="floatingInput">Heslo</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" id="floatingInput" autocomplete="new-password" aria-required="true" placeholder="Password"/>
                <label asp-for="Input.ConfirmPassword" for="floatingInput">Zopakujte heslo</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>                       
            <div class="text-center">
            <button id="registerSubmit" type="submit" class="w-80 btn btn-lg btn-primary" style="left:50%">Dokončit registraci</button>               
            </div>
        </form>
        </section>
    </div>
@*    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
